html{
  background-color: #202020;
}
.App {
  text-align: center;
  background-color: #202020;
  font-size: 1vw;
  
}

.App-logo {
  height: 20vmin;
  border-radius: 50%;
  margin: 3vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s linear;
  }
}

.App-content {
  text-align: center;
  min-height: 100vh;
  color: white;
  max-width: 100vw;
  overflow-x: hidden;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  font-size: 4vw;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: rgb(102, 7, 47);
}
.title-left{
  font-size: 4vw;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: rgb(102, 7, 47);
  margin-left: 1vw;
  text-align: left;
}
.title-left img{
  width: 4vw;
  height: 4vw;
}
.nav{
  top: 0;
  width: 100vw;
  background-color: rgb(248, 242, 232);
  font-size: 1.20vw;
}
.cardsArea{
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw 20vw;

}
.card{
  margin: 0.5vw;
  font-size: 1vw;
  padding-top: 2vw;
  color: aliceblue ;
  width: 18vw;
  height: 12vw;
  box-shadow: 0.5vw 0.5vw 0.5vw rgb(97, 97, 100);
  
}
.card:hover{
  animation: grow 1.5s linear;
}
.cardImage{
  align-self: center;
  width: 2vw;
  height: 2vw;
}
.viewButton{
  border-radius: 5%;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  border-style: none;
  align-self: center;
  background-color:rgb(240, 194, 208);
}
input{
  width: 30vw;
}

.contactContent{
  display: grid;
  grid-template-columns: 50vw 50vw;
}
.aboutContent{
  display: grid;
  grid-template-columns: 50vw 50vw;
}

.contactDetails{
  grid-column-start: 2;
  text-align: left;
  margin-top: 5vh;
}
.contactImage{
  width: 50%;
}
.userDetails{
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
}
.accountHeaders{
  display: grid;
  grid-template-columns: 50vw 50vw;
}
.details{
  grid-column-start: 1;
}

@keyframes grow{
  0%{
    box-shadow: 0.5vw 0.5vw 0.5vw rgb(97, 97, 100);
    
  }
  100%{
    box-shadow:1vw 1vw 1vw rgb(97, 97, 100);
    width: 18.5vw;
  }
}