.App {
  text-align: center;
  background-color: #202020;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  border-radius: 50%;
  margin: 3vw;;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  font-size: 4vw;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: rgb(102, 7, 47);
}
.nav{
  top: 0;
}